<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>ill.fi</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
            integrity="sha256-L/S5mZS8SPJVWoKym3Zwgf2f3/s3X3MaZ7QBA9HdnN8=" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://unpkg.com/react@16.4.2/umd/react.production.min.js"></script>
    <script type="application/javascript"
            src="https://unpkg.com/react-dom@16.4.2/umd/react-dom.production.min.js"></script>
    <script type="text/babel" src="js/app.jsx" data-presets="es2015,react"></script>
    <script src="https://cdn.jsdelivr.net/npm/argon2-browser@1.3.0/lib/argon2.js"
            integrity="sha256-qA4P0SMJZJH9DlJTAwyZNuCk0utOKD+AsSsUXQO9pCM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"
            integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
          integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
<div class="bg-pattern">
    <div id="app"></div>
</div>
</body>

</html>